mixin card()
        .card
                +img('banner-02', 'jpeg', alt='image', cls)
                .card-body
                        h5.card-title Card title
                        p.card-text Lorem ipsum dolor sit amet 
                        +link('link', '', 'btn btn-primary')


