mixin app
        section.app
                .app-container
                        .app-content
                                h2.h4 Don’t forget our app
                                .app-content__text
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue.
                                .app-links
                                        p Download now:
                                .app-links__group
                                                a.link1(href="#!")
                                                        img(src="./img/app/google.png", alt="Pay") 
                                                a.link2(href="#!")
                                                        img(src="./img/app/store.png", alt="Pay")
                        .app-imges
                                .app-imges__item
                                        img(src="./img/app/phone-01.png", width="232" height="464" alt="Phone")
                                .app-imges__item
                                        img(src="./img/app/phone-02.png", width="232" height="464" alt="Phone")
         
