mixin premium
        section.premium
                .container
                        .premium-content
                                .premium__desc
                                        .h4.txt-acc Premium Facilities
                                        .text 
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in premium-molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue.
                                        .button
                                                a(href="!#") 
                                                        +btn-out('Learn more')
                                .premium__img
                                        .premium__img-top._anim-items._anim-no-hide
                                                img(src="./img/premium/img-01.jpeg", alt="Img")
                                        .premium__img-bottom._anim-items._anim-no-hide
                                                img(src="./img/premium/img-02.jpeg", alt="Img")
