mixin result
        section.result
                .container
                        .result-content
                                .result__img
                                        .result__img-top
                                                img(src="./img/result/img-01.jpeg", alt="Img")
                                        .result__img-bottom
                                                img(src="./img/result/img-02.jpeg", alt="Img")
                                .result__desc
                                        .h4.txt-acc Meet your new body
                                        .text 
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue.
                                        a(href="!#") 
                                                +btn-out('View the FAQ')
