mixin social
        section.social
                .social-container
                        h2.h4 Social
                        ul.social-links._anim-items._anim-no-hide
                                li.social-links__img
                                        svg.svg-facebook
                                                use(href="./img/icons/sprite/sprite.svg#svg-facebook", width="15" height="30")
                                li.social-links__img 
                                        svg.y-tube
                                                use(href="./img/icons/sprite/sprite.svg#y-tube", width="25" height="29")
                                li.social-links__img
                                        svg.svg-inst
                                                use(href="./img/icons/sprite/sprite.svg#svg-inst", width="30" height="30")
