.header-meny {
        column-gap: remy(70);
        flex-shrink: 0; /* чтобы не сжимался */
        a {
                padding: remy(3);
                transition: 0.3s;
                &:hover {
                        opacity: 0.7;
                }
        }
        @media (max-width: remy(1439)) {
                column-gap: 2.5rem;
        }
        @media (max-width: remy(1439)) {
                column-gap: 1.5rem;
        }
        @media (max-width: remy(991)) {
                width: remy(320);
                height: 100%;
                margin-left: auto;
                flex-direction: column;
                background-color: var(--accent);
                padding-block: remy(80);
                row-gap: remy(12);
                a {
                        font-size: remy(20);
                }
        }
}
#header-meny {
        position: fixed;
        transform: translateX(100%);
        transition: .3s;
        z-index: 10;
        top: remy(63);
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, .7);
        transition: transform .3s ease;
        &.active {
                display: flex;
                transform: translateX(0);
        }
}
