mixin footer
        footer.footer
                .container
                        .footer__top
                                .footer__top-column
                                        a(href="#").logo Good
                                                span.accent lyfe
                                        .footer__top-list
                                                p Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc quam ac sed turpis volutpat. Cursus sed massa non nisi, placerat.
                                        ul.social__links
                                                li.footer-img
                                                        a(href="#!")
                                                                svg.inst
                                                                        use(href="./img/icons/sprite/sprite.svg#inst")
                                                li.footer-img
                                                        a(href="#!")
                                                                svg.mail
                                                                        use(href="./img/icons/sprite/sprite.svg#mail")
                                                        
                                                li.footer-img
                                                        a(href="#!")
                                                                svg.twitter
                                                                        use(href="./img/icons/sprite/sprite.svg#twitter")
                                                li.footer-img
                                                        a(href="#!")
                                                                svg.svg-y-tube
                                                                        use(href="./img/icons/sprite/sprite.svg#svg-y-tube")
                                .footer__top-column
                                        h4.footer__top-title Quick Links
                                        ul.footer__top-list
                                                li.footer__top-item 
                                                        a(href="#!") Classes
                                                li.footer__top-item 
                                                        a(href="#!") Timetable
                                                li.footer__top-item 
                                                        a(href="#!") Clubs
                                                li.footer__top-item 
                                                        a(href="#!") Nutrition
                                                li.footer__top-item 
                                                        a(href="#!") Free Trial
                                .footer__top-column
                                        h4.footer__top-title Guides
                                        ul.footer__top-list
                                                li.footer__top-item 
                                                        a(href="#!") Weight Loss
                                                li.footer__top-item 
                                                        a(href="#!") Strength Gain
                                                li.footer__top-item 
                                                        a(href="#!") Crossfit
                                                li.footer__top-item 
                                                        a(href="#!") Washbaord Abs
                                                li.footer__top-item 
                                                        a(href="#!") Dieting
                                .footer__top-column
                                        h4.footer__top-title Reach us
                                        ul.footer__top-list
                                                li.footer__top-item
                                                        a(href="#!").footer__top-svg
                                                                svg.svg-message
                                                                        use(href="./img/icons/sprite/sprite.svg#svg-message")
                                                                p admin@goodlyfe.co
                                                li.footer__top-item 
                                                        a(href="tel:+889876543210").footer__top-svg
                                                                svg.svg-phone
                                                                        use(href="./img/icons/sprite/sprite.svg#svg-phone")
                                                                p +88 98765 43210
                                                li.footer__top-item 
                                                        a(href="#!").footer__top-svg
                                                                svg.svg-map
                                                                        use(href="./img/icons/sprite/sprite.svg#svg-map")
                                                                p 90210 Beverly Hills#[br]California USA
                        .footer__bottom.d-flex
                                p &copy; 2020 GoodLyfe. All rights reserved
                                .privacy
                                        p Terms&amp;&nbsp;Conditions                              
                                        p Privacy&nbsp;Policy
                                        p Sitemap
                                        p  Disclaimer

