mixin header
        header.header
                .header-nav.d-flex
                        .header-container.d-flex
                                a(href="#").logo Good
                                        span.accent-span lyfe
                                #header-meny
                                        nav.header-meny.d-flex
                                                a(href="#!") Classess
                                                a(href="#!") Timetable
                                                a(href="#!") Clubs
                                                a(href="#!") Nutrition
                                                a(href="#!") Free Trial
                                .header-nav__btn.d-flex
                                        button.search-open.d-flex(id='searh-open')
                                                span Search
                                                svg.svg-search
                                                        use(href='./img/icons/sprite/solid.svg#magnifying-glass')
                                        button.btn-outline.btn-outline--slim Login
                                        button.meny-toggle(id="meny-toggle")
                                                span
                .header-search-wrapper(id='header-search-form')
                        .header-container
                                form.search-form.d-flex
                                        .form-item
                                                input(type="text" placeholder="Search")
                                                button(type="submit").search-btn
                                                        svg.svg-search
                                                                use(href='./img/icons/sprite/solid.svg#magnifying-glass')
                                                button(type="reset").reset-btn
                                                        svg.svg-xmark
                                                                use(href='./img/icons/sprite/solid.svg#xmark')

        .header-content
                .header-content__svg
                        svg.desktop(viewBox='0 0 1440 34' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M0 14.0112C0 14.0112 412.629 -12.7579 720 14.0112C1027.37 40.7803 1440 0.558594 1440 0.558594V34.5586H0' fill='white')
                        svg.mobile(viewBox='0 0 320 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M0 9.89162C0 9.89162 91.6953 -9.79156 160 9.89162C228.305 29.5748 320 0 320 0V25H0' fill='white')
                .header-content__title
                        h1.h1 Welcome to#[br] Good#[span.accent-span lyfe]&nbsp;Gyms
                        a(href="!#")
                                +btn('See the benefits', '', type='button')
                .swiper.slider
                        .swiper-wrapper
                                +slider('banner-01')
                                +slider('banner-02')
                                +slider('banner-03')
                                +slider('banner-04')
                                +slider('banner-03')
                        .swiper-pagination
